:root {
    --colorOne: #fff;
    --colorTwo: #070724;
    --colorThree: #38384f;
    --colorFour: #838391;
    --colorFive: #419ebb;
    --colorSix: #eda249;
    --colorSeven: #6f2ed6;
    --colorEight: #d14c32;
    --colorNine: #d83a34;
    --colorTen: #cd5120;
    --colorEleven: #1ec2a4;
    --colorTwelve: #2d6ef0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    line-height: 22px;
    background-image: url(../assets/background-stars.svg);
    background-color: var(--colorTwo);
    color: var(--colorOne);
}


h1,
h2 {
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

h3,
h4 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
    line-height: 103px;
}

h2 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
}

h3 {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

h4 {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

button {
    background: none;
    text-transform: uppercase;
    color: var(--colorOne);
    border: none;
    cursor: pointer;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}


/* nav styling */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--colorThree);
}

.logo {
    font-size: 36px;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    line-height: 36.23px;
    letter-spacing: -1.05px;
    font-weight: 400;
}

.nav-links li a {
    color: var(--colorOne);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.nav-links span,
.nav-links img {
    display: none;
}


/* main styling */

.saturn {
    display: flex;
    flex-direction: column;
}

/* saturn__images styling */
.saturn__images {
    text-align: center;
    position: relative;
    height: 400px;
}

.saturn__images img {
    width: 256px;
    height: 256px;
}

.saturn__images-img-one,
.saturn__images-img-two,
.saturn__images-img-three {
    position: absolute;
    left: 15%;
    top: 25%;
}

.saturn__images-img-two,
.saturn__images-img-three {
    display: none;
}

.saturn__images-img-two.show {
    display: block;
}

.saturn__images-img-three.show {
    display: block;
}

.saturn__image-three img {
    width: 111px;
    height: 135px;
}

.saturn__images-img-three {
    top: 62%;
    left: 35.5%;
}

/* saturn__head styling */
.saturn__head {
    margin-bottom: 18px;
}


/* saturn__desc styling */
.saturn__desc,
.saturn__head {
    text-align: center;
}

.check-wiki__source {
    font-size: 12px;
    font-weight: 400;
    opacity: 50%;
}

.check-wiki__link a {
    color: var(--colorOne);
    font-size: 12px;
}

.saturn__desc-one,
.saturn__desc-two,
.saturn__desc-three {
    position: absolute;
    height: 200px;
    padding-right: 18px;
    padding-left: 18px;
}

.saturn__desc-two,
.saturn__desc-three {
    display: none;
}

.saturn__desc p {
    padding-bottom: 20px;
}


/* saturn-button styling */
.saturn-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    order: -1;
    padding: 18px;
    border-bottom: 1px solid var(--colorThree);
}

.saturn-buttons button {
    font-size: 9px;
    font-weight: 700;
    line-height: 10.08px;
    letter-spacing: 1.93px;
    position: relative;
}

/* footer styling */
footer {
    display: grid;
    position: relative;
    top: 200px;
    padding-right: 18px;
    padding-left: 18px;
    text-transform: uppercase;
}

.saturn__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border: 1px solid var(--colorThree);
    margin: 5px 0;
}

.saturn__info-one {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.73px;
    font-weight: 700;
    opacity: 50%;
    padding-left: 18px;
}

.saturn__info-two {
    justify-self: flex-end;
    font-size: 20px;
    font-family: "Antonio", sans-serif;
    line-height: 25.88px;
    letter-spacing: -0.75px;
    padding-right: 18px;
}


/* nav-links mobile */
@media(max-width: 700px) {

    .hamburger,
    .nav-links span,
    .nav-links img {
        display: block;
    }
    .nav {
        padding: 18px;
    }
    .nav-links {
        position: absolute;
        top: 85px;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--colorTwo);
        background-image: url(../assets/background-stars.svg);
        padding: 0 18px;
        transform: translate(-120%);
        transition: 0.5s ease;
        z-index: 4;
    }
    .nav-links.show {
        transform: translate(0);
    }
    .nav-links li {
        padding: 22px 0;
        display: flex;
        align-items: center;
        position: relative;
    }
    .nav-links li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 65px;
        background-color: var(--colorThree);
    }
    .nav-links li:last-child::after {
        display: none;
    }
    .nav-links li a {
        font-size: 15px;
        letter-spacing: 1.36px;
        font-weight: 700;
    }
    .nav-links span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 18px;
    }
    .nav-links img {
        margin-left: auto;
    }
    .span__mercury {
        background-color: #def4fc;
    }
    .span__venus {
        background-color: #f7cc7f;
    }
    .span__earth {
        background-color: #545bfe;
    }
    .span__mars {
        background-color: #ff6a45;
    }
    .span__jupiter {
        background-color: #ecad7a;
    }
    .span__saturn {
        background-color: #fccb6b;
    }
    .span__uranus {
        background-color: #65f0d5;
    }
    .span__neptune {
        background-color: #497efa;
    }
    h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 51.76px;
    }
    .saturn-buttons span {
        display: none;
    }
    .saturn-button__one::after {
        content: "";
        position: absolute;
        left: 20%;
        top: 25px;
        height: 3px;
        width: 60%;
        background-color: #fccb6b;
    }
}

/* tablet version */
@media(min-width: 701px) {
    h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 51.76px;
    }

    /* nav styling */
    .nav {
        display: grid;
        grid-gap: 45px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 25px 0;
    }

    .nav-links {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        justify-content: space-between;
    }

    /* main styling */

    /* saturn__images styling */
    .saturn__images-img-one,
    .saturn__images-img-two,
    .saturn__images-img-three {
        left: 22%;
        top: 20%;
    }

    .saturn__image-one img,
    .saturn__image-two img {
        width: 422px;
        height: 422px;
    }

    .saturn__images-img-three {
        top: 90%;
        left: 42%;
    }

    /* saturn__desc styling */
    .saturn__desc-one,
    .saturn__desc-two,
    .saturn__desc-three {
        height: 100%;
        width: 50%;
        height: 330px;
    }

    /* saturn style grid spec. */
    .saturn {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .saturn__images {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    .saturn__intro {
        grid-row: 2;
        grid-column: 1 / 2;
        margin-top: 100px;
    }

    .saturn-buttons {
        grid-row: 2;
        grid-column: 2 / 3;
    }

    .saturn__desc {
        text-align: left;

    }

    .saturn__head {
        text-align: left;
        padding-left: 18px;
    }

    /* saturn-buttons styling */
    .saturn-buttons {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1fr;
        position: relative;
        top: 140px;
        border-bottom: none;
    }

    .saturn-button__one,
    .saturn-button__two,
    .saturn-button__three {
        border: 1px solid var(--colorThree);
        height: 40px;
        text-align: left;
        padding-left: 18px;
    }

    .saturn-button__one {
        background-color: #ff6a45;
    }

    /* footer styling */
    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 18px;
        /* top: 275px; */
    }

    .saturn__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 88px;
    }

    .saturn__info-two {
        padding-left: 18px;
    }

}

/* desktop version */
@media(min-width: 1024px) {
    .container {
        max-width: 1130px;
        margin: auto;
    }

    h1 {
        font-size: 80px;
        line-height: 103px;
        font-family: 'Antonio', sans-serif;
    }

    body {
        font-size: 14px;
        line-height: 25px;
        font-family: 'Spartan', sans-serif;
    }

    /* nav styling */
    .nav {
        display: flex;
        justify-content: space-between;
    }

    /* main styling */
    .saturn {
        display: grid;
        grid-gap: 55px;
        grid-template-columns: repeat(3, 1fr);
    }

    .saturn__images {
        grid-row: 1 /span 2;
        grid-column: 1 / 3;
    }

    .saturn__intro {
        grid-row: 1;
        grid-column: 3 / 4;
    }

    .saturn-buttons {
        grid-row: 2;
        grid-column: 3 / 4;
        z-index: 1;
    }

    /* saturn__images styling */
    .saturn__image-one img,
    .saturn__image-two img {
        width: 667px;
        height: 667px;
    }

    .saturn__image-one img,
    .saturn__image-two img {
        top: 8%;
        left: 10%;
    }

    .saturn__image-three img {
        width: 163px;
        height: 199px;
    }

    .saturn__images-img-three {
        top: 110%;
        left: 44%;
    }

    /* saturn__desc styling */
    .saturn__desc-one,
    .saturn__desc-two,
    .saturn__desc-three {
        width: 330px;
        height: auto;
        padding-right: 0;
    }

    /* saturn-buttons styling */
    .saturn-buttons {
        margin-top: 45px;
        padding-right: 0;
    }

    /* footer styling */
    footer {
        margin-left: 150px;
        padding: 0;
    }

    .saturn__info-two {
        font-size: 40px;
        line-height: 51.76px;
        letter-spacing: -1.5px;
    }
}